$def with (recordset, datum)
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Holding Area</title>
	
	<script src="static/jquery-2.1.3.min.js"></script>
	<script type="text/javascript">

	function store_check() {
		var inputs = document.getElementsByTagName("input")
		
		var temp = [];
		var filled = [];
		var result = [];
		
		for (i=0; i<inputs.length; i++) {
			var current = inputs[i];
			if (current.type != "checkbox")
				continue;
			
			var nv = current.name.split("_")
			console.log(nv)
			
			var id = nv[1];
			var name = nv[0];
			
			if (!temp[id]) {
				filled[filled.length] = parseInt(id);
				temp[id] = {
					"VENFLON_R": false,
					"VENFLON_L": false,
					"INFUSION_RV": false,
					"INFUSION_3H": false
				}
			}
			
			if (current.checked) {
				var el = "";
				
				switch (name) {
					case "vl":
						el = "VENFLON_L"; break;
					case "vr":
						el = "VENFLON_R"; break;
					case "infrv":
						el = "INFUSION_RV"; break;
					case "inf3h":
						el = "INFUSION_3H"; break;
				}
				
				temp[id][el] = true;
			}
		}
		
		
		console.log(temp)
		console.log(filled)
		
		for (i=0; i<filled.length; i++) {
			var t = temp[filled[i]];
			t.id = filled[i];
			result[result.length] = t;
		}
		
		console.log(result)
		
		$$.ajax({
				method: "POST",
				url: "ha",
				data: JSON.stringify(result)
			})
			.done(function(data) {
				console.log(data)
				if (data.success == false) {
					alert("Fehler in der kommunikation mit dem server, Grund: " + data.message)
				}
			})
			.fail(function() {
				alert( "Daten wurden NICHT gespeichert, Netzwerk Fehler ist aufgetreten." );
			})
		
	}		
	</script>
</head>
<body>


<form action="/ha" method="GET">
Datum: <input type="text" name="datum" id="datum" value="$datum" />
<button type="submit">Yepppers</button>
</form>


<table border="1">
	<thead>
		<tr>
			<td colspan="2">Venflon</td>
			<td colspan="2">infusion</td>
			<td rowspan="2">Geplante OP</td>
			<td rowspan="2">Nachname</td>
			<td rowspan="2">Vorname</td>
			<td rowspan="2">Gebdat</td>
			<td rowspan="2">Saal/Seq</td>
		</tr>
		<tr>
			<td>R</td>
			<td>L</td>
			<td>RV</td>
			<td>3-H</td>
		</tr>
	</thead>

	<tbody>
	$for row in recordset:
		<tr>
			<td>
				<input type="checkbox" name="vl_$row[6]" />
			</td>
			<td>
				<input type="checkbox" name="vr_$row[6]" />
			</td>
			<td>
				<input type="checkbox" name="infrv_$row[6]" />
			</td>
			<td>
				<input type="checkbox" name="inf3h_$row[6]" />
			</td>
			<td>$row[0]</td>
			<td>$row[1]</td>
			<td>$row[2]</td>
			<td>$row[3]</td>
			<td>$row[4] / $row[5]</td>
		</tr>
	</tbody>
</table>
<br />
<button onclick="store_check()" >Speichern</button>

</body>
</html>
