$def with (recordset, datum)
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Holding Area</title>
</head>
<body>


<form action="/ha" method="GET">
Datum: <input type="text" name="datum" value="$datum" />
<button type="submit">Yepppers</button>
</form>

<table border="1">
	<thead>
		<tr>
			<td colspan="2">Venflon</td>
			<td colspan="2">infusion</td>
			<td rowspan="2">Geplante OP</td>
			<td rowspan="2">Nachname</td>
			<td rowspan="2">Vorname</td>
			<td rowspan="2">Gebdat</td>
			<td rowspan="2">Saal/Seq</td>
		</tr>
		<tr>
			<td>R</td>
			<td>L</td>
			<td>RV</td>
			<td>3-H</td>
		</tr>
	</thead>

	<tbody>
	$for row in recordset:
		<tr>
			<td>
				<input type="checkbox" name="vl_$row[6]" />
			</td>
			<td>
				<input type="checkbox" name="vr_$row[6]" />
			</td>
			<td>
				<input type="checkbox" name="inf_rv_$row[6]" />
			</td>
			<td>
				<input type="checkbox" name="inf_3h_$row[6]" />
			</td>
			<td>$row[0]</td>
			<td>$row[1]</td>
			<td>$row[2]</td>
			<td>$row[3]</td>
			<td>$row[4] / $row[5]</td>
		</tr>
	</tbody>
</table>


</body>
</html>
